name: Lint and build
on: [push, pull_request]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Use Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '18.x'
      - name: Install modules
        run: yarn
      - name: Run ESLint
        run: yarn lint
      - name: Test build
        run: yarn build
